.main {
    background: linear-gradient(to right, #c885ff, #8bb4ff);
    height: 100vh;
    padding-top: 50px;
}

.taskCard {
    width: 400px;
    height: 450px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
   
}

#addtext {
   width: 100%;
   border: none;
   border-radius: 10px;
   background-color: hsl(157, 100%, 79%);
   padding: 10px;
border: none;
}
#addbox {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}
#hadd {
    margin-bottom: 0.6rem;

}
#hlist {
    margin-top: 1rem;
    
  
}

#addtext:active {
    border: 1px solid rgb(158, 255, 113);
}
textarea:focus, #addtext:focus{
    outline: none;
    border: none;
}

.btn {
    width: 70px;
    border-radius: 10px;
    border: none;
    background-color: #ff2045;
    color: white;
    font-size: 15px;
}
.btn:hover {
    background-color: #ff002b;
    cursor: pointer;
}
h4 {
    display: inline;
    max-block-size: 100%;
}
.list {
    font-size: 15px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}
.btno {
    padding: 6px;
    border-radius: 7px;
    border: none;
    background-color: #ff2045;
    color: white;
    font-size: 13px;
    margin-left: 10px;
}
.btno:hover {
    background-color: #ff002b;
    cursor: pointer;
}
.checkbox {
    display: inline;
    margin-right: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.scroll {
    max-height: 350px; 
    overflow-y: auto; 
    scrollbar-color: #ff2045 rgb(255, 255, 255);
    
  }

  

  